Gestión de la Base de Datos
===

**Juan David Velásquez Henao**  
jdvelasq@unal.edu.co   
Universidad Nacional de Colombia, Sede Medellín  
Facultad de Minas  
Medellín, Colombia

---

Haga click [aquí](https://github.com/jdvelasq/SQL-basics) para acceder al repositorio en GitHub.

Haga click [aquí](http://nbviewer.jupyter.org/github/jdvelasq/SQL-basics/tree/master/) para explorar el repositorio usando en `nbviewer`.

---

In [1]:
## conexion a la base de datos
%load_ext sql
%sql mysql+pymysql://root:sistemas@localhost

C:\Users\Unalmed\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect string value: '\\xEDfico,...' for column 'VARIABLE_VALUE' at row 518")
  result = self._query(query)
C:\Users\Unalmed\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (3719, "'utf8' is currently an alias for the character set UTF8MB3, which will be replaced by UTF8MB4 in a future release. Please consider using UTF8MB4 in order to be unambiguous.")
  result = self._query(query)

'Connected: root@None'

> Haga clíck [aquí](https://dev.mysql.com/doc/refman/5.7/en/) para acceder al  manual de referencia en línea de MySQL.

> MySQL en [wikipedia](https://en.wikipedia.org/wiki/MySQL)

---

# Introducción

MySQL es un sistema de gestión de bases de datos relacionales ampliamente usado, junto con su clon [MariaDB](http://mariadb.org). 

* Garantiza integridad referencial.

* Es transaccional.

* Cuenta con instaladores para distintas plataformas.

* Soporta un amplio conjunto de SQL.

A continuación se presentan algunas funciones fundamentales para la carga, consulta y procesamiento de los datos:

**CREATE DATABASE**

In [2]:
%%sql
##
## Crea la base de datos sqldemo
##
CREATE DATABASE sqldemo;

 * mysql+pymysql://root:***@localhost
1 rows affected.

[]

In [3]:
%%sql
##
## crea la base de datos demo1 únicamente si no existe
## (note que aparece un warning)
##
CREATE DATABASE IF NOT EXISTS sqldemo;

 * mysql+pymysql://root:***@localhost
1 rows affected.

C:\Users\Unalmed\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1007, "Can't create database 'sqldemo'; database exists")
  result = self._query(query)

[]

**SHOW DATABASES**

In [4]:
%%sql 
##
## muestra las bases de datos existentes
##
SHOW DATABASES;

 * mysql+pymysql://root:***@localhost
9 rows affected.

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('quiz',),
 ('sqldemo',),
 ('sys',),
 ('talento_humano',),
 ('talento_humano2',),
 ('talento_humano3',)]

**USE**

In [5]:
%%sql
##
## Se conecta a la base de datos llamada sqldemo
##
USE sqldemo;

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

**DROP DATABASE**

In [6]:
%%sql
##
## Borra la base de datos
##
DROP DATABASE IF EXISTS sqldemo;
SHOW DATABASES;

 * mysql+pymysql://root:***@localhost
0 rows affected.
8 rows affected.

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('quiz',),
 ('sys',),
 ('talento_humano',),
 ('talento_humano2',),
 ('talento_humano3',)]

---
**Ejercicio.--** Cree las bases de datos llamadas db1 y db2.

**Ejercicio.--** Conectese a la base de datos db1.

**Ejercicio.--** Conectese a la base de datos db2.

**Ejercicio.--** Borre las bases de datos db1 y db2.

---

Gestión de la Base de Datos
===

**Juan David Velásquez Henao**  
jdvelasq@unal.edu.co   
Universidad Nacional de Colombia, Sede Medellín  
Facultad de Minas  
Medellín, Colombia

---

Haga click [aquí](https://github.com/jdvelasq/SQL-basics) para acceder al repositorio en GitHub.

Haga click [aquí](http://nbviewer.jupyter.org/github/jdvelasq/SQL-basics/tree/master/) para explorar el repositorio usando en `nbviewer`.