Gestión de Registros
===

**Juan David Velásquez Henao**  
jdvelasq@unal.edu.co   
Universidad Nacional de Colombia, Sede Medellín  
Facultad de Minas  
Medellín, Colombia

---

Haga click [aquí](https://github.com/jdvelasq/SQL-basics) para acceder al repositorio en GitHub.

Haga click [aquí](http://nbviewer.jupyter.org/github/jdvelasq/SQL-basics/tree/master/) para explorar el repositorio usando en `nbviewer`.

---

In [ ]:
## conexión a la base de datos
%load_ext sql
%sql mysql+pymysql://root:password@localhost

In [ ]:
%%sql
CREATE DATABASE IF NOT EXISTS sqldemo;
USE sqldemo;
DROP TABLE IF EXISTS persons;
CREATE TABLE persons (
    id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
    ssn VARCHAR(11),
    phone VARCHAR(14),
    city VARCHAR(30),
    maritalstatus VARCHAR(10),
    fullname VARCHAR(40),
    birthdate DATE
);

**INSERT** 

    INSERT [INTO] tbl_name [(column_name,...)]
    {VALUES | VALUE}
    ({expression|DEFAULT},...)[,(...),...];

In [ ]:
%%sql
##
## Inserta el registro en la tabla.
## Los valores están en el mismo orden de los campos.
##
INSERT INTO persons VALUES
   (NULL,"216-51-1025","(09)-5580-7527","Memphis (Tennessee)","Single","Marco Goodman","1988-06-30");
    
SELECT * FROM persons;

In [ ]:
%%sql
##
## Inserta varios registros a la vez.
## Los valores deben estar en el mismo orden de los campos.
##
INSERT INTO persons VALUES
    (NULL, "116-51-1291","(07)-2905-7818","Buffalo (New York)","Married","Roxanne Kerns","1974-11-27"),
    (NULL, "177-44-1159","(09)-5062-6922","Detroit (Michigan)","Single","Regina Lauritzen","1969-07-27");
    
SELECT * FROM persons;

In [ ]:
%%sql
##
## Inserta registros con información parcial.
## Se indica en cuales campos se inserta la información.
##
INSERT INTO persons (maritalstatus,fullname) VALUES
    ("Divorced","Howard Samsel"),
    ("Married","Gabriel Kingston"),
    ("Single","Carrie Bigelow");
    
SELECT * FROM persons;

In [ ]:
%%sql
INSERT INTO persons (fullname,city,maritalstatus,birthdate)
    VALUES ("Nichelle Thaxton","Milwaukee (Wisconsin)","Married", "1988-01-02");

SELECT * FROM persons;

In [ ]:
%%sql
##
## Inserta un registro con información en un solo campo.
## Se indica en cual campo se inserta la información
##
INSERT persons (fullname) VALUE ("Joaquin Yap");
SELECT * FROM persons;

In [ ]:
%%sql
##
## Se inserta información en un registro.
## No se indican los nombres de los campos.
## Se usa NULL para los campos que no tienen información.
##
INSERT INTO persons VALUES
    (NULL, NULL, NULL, "Las Vegas (Nevada)","Married","Yu Kittredge","1978-01-22");
SELECT * FROM persons;

**UPDATE**

     UPDATE tbl_name
     (SET col_name={expression|DEFAULT}, ...)
     [WHERE where_conditions];

In [ ]:
%%sql
##
## Se actualiza la información de los campos de registros existentes.
## Se indica explictamente el valor de cada campo.
## Si no se introduce la clausura WHERE se cambian todos los 
## los registros de la tabla.
##
UPDATE persons SET
    ssn = "323-51-1535", phone = "(03)-5179-6500"
    WHERE fullname = "Yu Kittredge";
    
SELECT * FROM persons;

In [ ]:
%%sql
##
## Se actualiza el campo con base en el indicador.
##
UPDATE persons SET 
   ssn = "116-81-1883" 
WHERE id = 4;

SELECT * FROM persons;

**DELETE**

    DELETE FROM tbl_name [WHERE where_conditions];

In [ ]:
%%sql
##  
## Se borran registros de la tabla.
## Si no se usa WHERE se borran todos los registros de la tabla.
##
DELETE FROM 
  persons
WHERE 
  ssn="216-51-1025" AND maritalstatus="Single";

SELECT * FROM persons;

**Escritura de datos al disco**

    SELECT ... INTO OUTFILE '<filename>'

In [ ]:
!rm /tmp/persons.txt

En Windows, el archivo debe almacenarse en un directorio existente con permisos de edición. Por defecto si no se da una ruta específica, se guarda en el directorio que contenga este libro en disco.

In [ ]:
%%sql
## 
## Permite escribir el contenido de una tabla al disco duro.
## El archivo se genera el directorio /tmp en mac os.
## Si el archivo ya existe genera un error.
## 
SELECT * FROM persons INTO OUTFILE "persons.txt"

In [ ]:
##
## Contenido del archivo exportado.
## Note que no tiene cabecera.
## 
!cat persons.txt

**Escitura de datos hacia Pandas DataFrame.**

Los paquetes Pandas y SQL Alchemy permiten exportar consultas hacia DataFrames de Pandas .

In [ ]:
from sqlalchemy import create_engine
##
## cargar la sesión en la base de datos
##
conec_1 = create_engine('mysql+pymysql://root:sistemas@localhost/sqldemo')
conec_2 = conec_1.connect()

In [ ]:
##
## carga la consulta
##
conec_3 = conec_2.execute("SELECT * FROM persons")

In [ ]:
from pandas import DataFrame
##
## convertir la consulta en un Pandas DataFrame
##
df = DataFrame(conec_3.fetchall())
df.columns = conec_3.keys()
df.head()

**Carga de datos desde archivos de texto.**

    LOAD DATA [LOCAL] INFILE filename>'
    INTO TABLE <tablename> [(<column_name>[, <column_name>,...]];

In [ ]:
%%writefile data.txt
ssn,phone,city,maritalstatus,fullname,birthday
216-51-1025,(09)-5580-7527,Memphis (Tennessee),Single,Marco Goodman,1988-06-30
216-85-1367,(07)-2905-9114,Saint Paul (Minnesota),Divorced,Tania Raley,1974-12-16
166-82-1605,(09)-6473-4208,Irvine (California),Married,Demetrius Fry,1975-03-27
116-54-1259,(04)-3468-6535,San Bernardino (California),Divorced,Jake Vansant,1980-02-01
224-55-1496,(03)-8685-6502,Aurora (Colorado),Common-Law,Tamesha Lawlor,1974-10-02
177-44-1054,(08)-5902-5867,El Paso (Texas),Single,Millie Lasher,1974-03-29
320-54-1856,(04)-3858-1079,Houston (Texas),Divorced,Lilly Macdonald,1983-09-07

En Windows, recuerde que el directorio en donde se guarda el archvo *'data.txt'* no es necesariamente el mismo en donde se almacena la base de datos. Al momento de leer los archivos, debe indicar la ruta del mismo o por defecto la función busca en el directorio de la base de datos.

In [ ]:
%%sql
##
## Permite cargar datos desde el disco duro.
## Es el complemento de SELECT ... INTO ...
## La BD debe estar configurada para permitir carga de datos.
## Se debe indicar el orden de los campos en el archivo.
## El archivo no contiene cabecera.
##
LOAD DATA INFILE
   'data.txt'
INTO TABLE persons
FIELDS TERMINATED BY ',' IGNORE 1 LINES (ssn,phone,city,maritalstatus,fullname,birthdate);

SELECT * FROM persons;

In [ ]:
!rm /tmp/data.txt

**SELECT**

    SELECT what FROM tbl_name [WHERE where-conditions] [ORDER BY column_name];

In [ ]:
%%sql
##
## Este es el comando básico para visualizar el contenido de la BD
##
SELECT * FROM persons;

In [ ]:
%%sql
##
## Se limita la cantidad de registros a visualizar.
##
SELECT * FROM persons LIMIT 3;

In [ ]:
%%sql
##
## Este comando permite ver los registro únicos de un campo.
##
SELECT DISTINCT maritalstatus FROM persons;

In [ ]:
%%sql
##
## Se indica que campos se desean seleccionar.
##
SELECT ssn,fullname FROM persons;

**WHERE**

In [ ]:
%%sql
##
## Condicional.
##
SELECT * FROM persons WHERE birthdate >= "1974-01-01";

La función LIKE permite buscar patrones específicos dentro de cadenas de caracteres.

    > LIKE 'a%'   : Encuentra los valores que inician con 'a'
    > LIKE '%a'   : Encuentra los valores que terminan con 'a'
    > LIKE '%a%'  : Encuentra los valores que contengan 'a' en cualquier posición
    > LIKE '_a%'  : Encuentra los valores que contengan 'a' en la segunda posición
    > LIKE 'a_%_%': Encuentra los valores que inician con 'a' y tienen al menos 3 caracteres
    > LIKE 'a%o'  : Encuentra los valores que inician con 'a' y terminan con 'o'

In [ ]:
%%sql
##
## Condicional para cadenas de caracteres.
##
SELECT * FROM persons WHERE fullname LIKE "R%";

In [ ]:
%%sql
##
## Conectores lógicos (OR).
##
SELECT * FROM persons WHERE maritalstatus = 'Married' OR fullname LIKE 'R%';

In [ ]:
%%sql
##
## Conectores lógicos (AND).
##
SELECT * FROM persons WHERE maritalstatus = 'Married' AND fullname LIKE 'R%';

La función ORDER BY permite organizar los registros de manera ascendente (ORDER BY ... ASC) o de manera descendente (ORDER BY ... DESC). Por defecto, ordena de manera ascendente.

In [ ]:
%%sql
##
## Ordenamiento
##
SELECT * FROM persons ORDER BY maritalstatus LIMIT 4;

In [ ]:
%%sql
##
## Condicional para campos string
##
SELECT * FROM persons WHERE maritalstatus IN ('Married','Divorced');

In [ ]:
%%sql
##
## Condicional para campos string
##
SELECT * FROM persons WHERE maritalstatus NOT IN ('Married','Divorced');

In [ ]:
%%sql
##
## Combinación de clausulas opcionales.
##
SELECT * FROM persons WHERE birthdate >= '1970-01-01' ORDER BY fullname;

In [ ]:
%%sql
##
## Calcula la edad promedio de las personas.
##
SELECT AVG(TIMESTAMPDIFF(YEAR,birthdate,CURDATE())) AS PROM FROM persons;

**FUNCIONES**

In [ ]:
%%sql
##
## Cuenta cuantos registros hay en la tabla.
##
SELECT COUNT(*) FROM persons;

In [ ]:
%%sql
##
## Cuenta la cantidad de registros con información 
## en el campo fullname
##
SELECT COUNT(fullname) FROM persons;

In [ ]:
%%sql
##
## Calcula la suma de edades en personas
##
SELECT SUM(TIMESTAMPDIFF(YEAR,birthdate,CURDATE())) AS SUMA FROM persons;

In [ ]:
%%sql
##
## Cuenta cuantas veces aparece cada año
## de nacimiento en la tabla.
##
SELECT YEAR(birthdate), COUNT(*) FROM persons GROUP BY YEAR(birthdate);

In [ ]:
%%sql
##
## Cuenta cuantas veces aparece cada año
## de nacimiento en la tabla.
##
SELECT YEAR(birthdate), COUNT(*) FROM persons GROUP BY YEAR(birthdate);

In [ ]:
%%sql
##
## Agrega la edad
##
SELECT *, TIMESTAMPDIFF(YEAR,birthdate,CURDATE()) AS AGE, MONTH(birthdate) FROM persons;

> Haga click [aquí](https://dev.mysql.com/doc/refman/5.7/en/functions.html) para acceder al listado completo de funciones de MySQL.

**SUBCONSULTAS**

In [ ]:
%%sql
##
## Sub-consultas.
## Busca la persona más vieja en la tabla.
##
SELECT * FROM persons WHERE birthdate = (SELECT MIN(birthdate) FROM persons);

---

> Otros ejemplos son presentados [aquí](https://github.com/jdvelasq/bash-for-analytics/blob/master/05-sql.ipynb)

---

Gestión de Registros
===

**Juan David Velásquez Henao**  
jdvelasq@unal.edu.co   
Universidad Nacional de Colombia, Sede Medellín  
Facultad de Minas  
Medellín, Colombia

---

Haga click [aquí](https://github.com/jdvelasq/SQL-basics) para acceder al repositorio en GitHub.

Haga click [aquí](http://nbviewer.jupyter.org/github/jdvelasq/SQL-basics/tree/master/) para explorar el repositorio usando en `nbviewer`.