Uniones
===

**Juan David Velásquez Henao**  
jdvelasq@unal.edu.co   
Universidad Nacional de Colombia, Sede Medellín  
Facultad de Minas  
Medellín, Colombia

---

Haga click [aquí](https://github.com/jdvelasq/SQL-basics) para acceder al repositorio en GitHub.

Haga click [aquí](http://nbviewer.jupyter.org/github/jdvelasq/SQL-basics/tree/master/) para explorar el repositorio usando en `nbviewer`.

---

In [2]:
## conexión a la base de datos
%load_ext sql

In [3]:
%sql mysql+pymysql://root:password@localhost
%sql CREATE DATABASE IF NOT EXISTS sqldemo;
%sql USE sqldemo

 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
0 rows affected.

/Users/jdvelasq/anaconda3/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (3719, "'utf8' is currently an alias for the character set UTF8MB3, which will be replaced by UTF8MB4 in a future release. Please consider using UTF8MB4 in order to be unambiguous.")
  result = self._query(query)
/Users/jdvelasq/anaconda3/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1007, "Can't create database 'sqldemo'; database exists")
  result = self._query(query)

[]

In [4]:
%%sql
SHOW VARIABLES LIKE "secure_file_priv";

 * mysql+pymysql://root:***@localhost
1 rows affected.

[('secure_file_priv', '')]

# Uniones (joins) de tablas en SQL

**Preperación de los datos de ejemplo.**

In [ ]:
%%writefile ~/data/bancos.csv
Ally Financial,3608-2596-5394-1054,216-82-1048
BB&T,3608-1721-4951-1198,116-81-1883
BBVA Compass,3608-1395-5632-1976,224-25-1891
BBVA Compass,3608-1721-4005-1322,116-51-1291
BBVA Compass,3608-2181-5724-1476,144-25-1448
BBVA Compass,3608-2596-5634-1497,224-99-1262
BMO Harris Bank,3608-1721-4236-1828,279-81-1912
BNP Paribas,3608-2181-5030-1465,216-51-1025
Fifth Third Bank,3608-1782-5015-1001,429-83-1156
Citizens Financial Group,3608-2181-4711-1693,177-44-1054
Comerica,3608-1333-4580-1185,216-85-1367
Comerica,3608-2596-5551-1572,116-93-1394
Deutsche Bank,3608-1782-5551-1837,339-74-1545
Discover Financial,3608-1395-4951-1668,116-51-1291
Fifth Third Bank,3608-1782-4458-1383,166-82-1605
First Republic Bank,3608-1682-4160-1476,425-82-1851
First Republic Bank,3608-2596-5696-1134,429-83-1156
JPMorgan Chase,3608-1782-5890-1999,287-74-1145
JPMorgan Chase,3608-2067-5766-1056,177-23-1359
JPMorgan Chase,3608-2181-5988-1718,116-54-1259
JPMorgan Chase,3608-2751-4236-1394,320-54-1856
MUFG Union Bank,3608-2800-5459-1497,144-54-1840
New York Community Bancorp,3608-2968-5745-1804,323-51-1535
Popular. Inc.,3608-1333-4394-1935,177-44-1159
Popular. Inc.,3608-1721-5632-1589,224-55-1496
Popular. Inc.,3608-2800-5551-1351,279-81-1912
Santander Bank,3608-1395-5691-1428,301-25-1394
Signature Bank,3608-2588-5394-1381,216-82-1048
Signature Bank,3608-2751-5015-1278,224-55-1496
SunTrust Banks,3608-1682-5152-1053,339-74-1545
MUFG Union Bank,3608-1782-4038-1052,238-81-1227
U.S. Bancorp,3608-1192-5884-1614,391-55-1442
U.S. Bancorp,3608-1333-4005-1623,177-44-1054
U.S. Bancorp,3608-2067-5394-1306,216-85-1367
U.S. Bancorp,3608-2181-4288-1394,381-54-1605
USAA,3608-1782-5791-1558,368-83-1054
Wells Fargo,3608-1782-5030-1572,339-82-1442
Wells Fargo,3608-2588-5988-1551,144-25-1448

In [ ]:
!sudo chmod +rw /usr/local/mysql-8.0.11-macos10.13-x86_64/data/sqldemo/

In [ ]:
%%writefile /usr/local/mysql-8.0.11-macos10.13-x86_64/data/sqldemo/personas.csv
216-51-1025,(09)-5580-7527,Memphis (Tennessee),Single,Marco Goodman,1988-06-30
116-51-1291,(07)-2905-7818,Buffalo (New York),Married,Roxanne Kerns,1974-11-27
177-44-1159,(09)-5062-6922,Detroit (Michigan),Single,Regina Lauritzen,1969-07-27
116-81-1883,(03)-1350-7402,Chandler (Arizona),Divorced,Howard Samsel,1989-11-26
429-83-1156,(09)-5794-9470,Scottsdale (Arizona),Married,Gabriel Kingston,1978-05-05
381-54-1605,(05)-5330-5036,Albuquerque (New Mexico),Single,Carrie Bigelow,1982-05-02
224-99-1262,(05)-3339-3262,Milwaukee (Wisconsin),Married,Nichelle Thaxton,1988-01-02
301-25-1394,(07)-4370-8507,Houston (Texas),Single,Joaquin Yap,1972-11-12
323-51-1535,(03)-5179-6500,Las Vegas (Nevada),Married,Yu Kittredge,1978-01-22
216-85-1367,(07)-2905-9114,Saint Paul (Minnesota),Divorced,Tania Raley,1973-12-16
166-82-1605,(09)-6473-4208,Irvine (California),Married,Demetrius Fry,1975-03-27
116-54-1259,(04)-3468-6535,San Bernardino (California),Divorced,Jake Vansant,1980-02-01
224-55-1496,(03)-8685-6502,Aurora (Colorado),Common-Law,Tamesha Lawlor,1983-10-02
177-44-1054,(08)-5902-5867,El Paso (Texas),Single,Millie Lasher,1976-03-29
320-54-1856,(04)-3858-1079,Houston (Texas),Divorced,Lilly Macdonald,1983-09-07
144-25-1448,(09)-5179-2725,Durham (North Carolina),Divorced,Gerald Glynn,1985-07-07
144-54-1840,(03)-7508-9910,Orlando (Florida),Single,Felipe Malpass,1982-06-08
224-25-1891,(05)-9333-5713,Las Vegas (Nevada),Divorced,Wallace Lowery,1971-12-19
216-82-1048,(04)-1199-9661,Las Vegas (Nevada),Married,Pedro Welch,1972-05-07
116-93-1394,(05)-9333-4606,Tampa (Florida),Married,Betty Fitzhugh,1973-08-12
279-81-1912,(08)-2905-8942,Winston–Salem (North Carolina),Single,Lauren Seifert,1977-10-07
425-82-1851,(03)-5794-3345,Aurora (Colorado),Married,Livia Castillo,1972-02-26
339-74-1545,(08)-4858-6766,Atlanta (Georgia),Married,Leland Scully,1975-07-25
368-83-1054,(05)-7508-4870,Omaha (Nebraska),Married,Elton Castellanos,1975-10-08
339-82-1442,(09)-5854-7191,Henderson (Nevada),Single,Sondra Pike,1980-06-25
391-55-1442,(05)-6865-1079,Baton Rouge (Louisiana),Divorced,Laquita Murrin,1984-04-21
177-23-1359,(07)-5854-6781,St. Louis (Missouri),Single,Gigi Ragland,1977-01-27
238-81-1227,(03)-9999-9910,Laredo (Texas),Common-Law,Ronald Signorelli,1977-06-13
287-74-1145,(03)-5794-9130,Fremont (California),Single,Wilson Upshaw,1976-02-21

In [ ]:
%%writefile ~/data/franquicias.csv
Capital One,3608-2181-5030-1465,2023-05-27,4538,337,1400
USAA,3608-1395-4951-1668,2024-03-11,5101,240,1900
U.S. Bank,3608-1333-4394-1935,2020-03-08,4814,231,2000
Capital One,3608-1721-4951-1198,2019-05-30,3925,366,1600
PNC,3608-1782-5015-1001,2025-06-08,4241,048,1200
Capital One,3608-2181-4288-1394,2021-12-08,4253,556,1700
Wells Fargo,3608-2596-5634-1497,2018-07-15,5205,140,1200
USAA,3608-1395-5691-1428,2023-04-20,2111,512,1400
American Express,3608-2968-5745-1804,2025-12-01,5065,993,1000
American Express,3608-1333-4580-1185,2025-01-13,2377,277,1300
Discover,3608-1782-4458-1383,2018-07-19,4623,863,1500
Chase,3608-2181-5988-1718,2024-03-23,2987,452,1000
USAA,3608-2751-5015-1278,2024-04-25,2744,831,1700
U.S. Bank,3608-1333-4005-1623,2022-11-10,2117,373,1400
MasterCard,3608-2751-4236-1394,2022-07-22,7943,109,1200
MasterCard,3608-2588-5988-1551,2021-11-11,2172,945,1900
USAA,3608-2800-5459-1497,2024-04-02,7568,458,1400
Discover,3608-1395-5632-1976,2022-12-22,5884,272,1200
BarclayCard US,3608-2588-5394-1381,2020-12-24,5280,237,1200
American Express,3608-2596-5551-1572,2024-07-28,4107,438,1500
BarclayCard US,3608-2800-5551-1351,2020-09-30,4174,318,1700
Discover,3608-1682-4160-1476,2021-05-08,2135,864,2000
U.S. Bank,3608-1682-5152-1053,2024-04-27,7022,246,1100
U.S. Bank,3608-1782-5791-1558,2023-09-24,7502,188,2000
PNC,3608-1782-5030-1572,2024-07-31,6887,951,1700
MasterCard,3608-1192-5884-1614,2018-06-20,5594,800,2000
Bank of America,3608-2067-5766-1056,2025-09-30,2338,355,1200
BarclayCard US,3608-1782-4038-1052,2022-06-25,2130,117,1500
American Express,3608-1782-5890-1999,2021-11-10,3195,732,1600
Visa,3608-1782-5551-1837,2024-11-05,5357,255,2000
MasterCard,3608-1721-4236-1828,2018-05-15,3700,561,1800
U.S. Bank,3608-2596-5394-1054,2022-06-05,6787,233,1000
Discover,3608-2181-5724-1476,2022-09-18,3027,475,1000
MasterCard,3608-2181-4711-1693,2024-03-26,2739,733,1400
Bank of America,3608-1721-5632-1589,2025-02-08,6587,337,1500
Chase,3608-2067-5394-1306,2019-02-13,2544,222,1200
U.S. Bank,3608-2596-5696-1134,2024-05-22,7442,587,1900
USAA,3608-1721-4005-1322,2018-08-16,7241,201,1300

In [ ]:
%%sql

CREATE TABLE personas (
    id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
    ssn VARCHAR(11),
    phone VARCHAR(14),
    city VARCHAR(40),
    maritalstatus VARCHAR(10),
    fullname VARCHAR(40),
    birthdate DATE
);

CREATE TABLE franquicias (
    id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
    ccntype VARCHAR(40),
    ccn VARCHAR(20),
    validthru DATE,
    userkey VARCHAR(6),
    userpin VARCHAR(4),
    quota SMALLINT
);

CREATE TABLE bancos (
    id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
    bank VARCHAR(40),
    ccn VARCHAR(20),
    ssn VARCHAR(15)
);

In [5]:
%%sql
LOAD DATA  INFILE
   'personas.csv'
INTO TABLE personas
FIELDS TERMINATED BY ',' (ssn,phone,city,maritalstatus,fullname,birthdate);

SELECT * FROM personas LIMIT 5;

 * mysql+pymysql://root:***@localhost

InternalError: (pymysql.err.InternalError) (13, "Can't get stat of '/usr/local/mysql-8.0.11-macos10.13-x86_64/data/sqldemo/personas.csv' (OS errno 2 - No such file or directory)") [SQL: "LOAD DATA  INFILE\n   'personas.csv'\nINTO TABLE personas\nFIELDS TERMINATED BY ',' (ssn,phone,city,maritalstatus,fullname,birthdate);"] (Background on this error at: http://sqlalche.me/e/2j85)

In [ ]:
%%sql
LOAD DATA INFILE
   'bancos.csv'
INTO TABLE bancos
FIELDS TERMINATED BY ',' (bank,ccn,ssn);

SELECT * FROM bancos  LIMIT 5;

In [ ]:
%%sql
LOAD DATA INFILE
   'franquicias.csv'
INTO TABLE franquicias
FIELDS TERMINATED BY ',' (ccntype,ccn,validthru,userkey,userpin,quota);

SELECT * FROM franquicias  LIMIT 5;

In [ ]:
!rm /tmp/bancos.csv
!rm /tmp/personas.csv
!rm /tmp/franquicias.csv

**JOIN**

Los joins permiten unir la información de dos o más tablas. Los distintos tipos de joins son explicados en la siguiente gráfica:

![joins.jpg](images/joins.jpg)

In [ ]:
%%sql
##
## Combina la información de las dos tablas usando como clave
## el campo ssn.
##
SELECT fullname, phone, bank, personas.ssn, bancos.ssn
FROM personas JOIN bancos
ON personas.ssn = bancos.ssn LIMIT 10;

---
**Ejercicio.--** Genere una tabla que contenga la cantidad de tarjetas emitidas por cada banco (campo `bank`).

**Ejercicio.--** Genere una tabla que contenga la cantidad de tarjetas de cada franquicia (campo `ccntype`).

**Ejercicio.--** Genere una tabla que contenga el cliente más joven de cada banco.

**Ejercicio.--** Genere una tabla que contenga por cada banco, la cantidad de clientes nacidos cada año.

**Ejercicio.--** Genere una tabla que contenga la suma de los montos (`quote`) por franquisia.

**Ejercicio.--** Genere una tabla que contenga el banco, la franquisia y el nombre del titular de la tarjeta de crédito. 

---

Uniones
===

**Juan David Velásquez Henao**  
jdvelasq@unal.edu.co   
Universidad Nacional de Colombia, Sede Medellín  
Facultad de Minas  
Medellín, Colombia

---

Haga click [aquí](https://github.com/jdvelasq/SQL-basics) para acceder al repositorio en GitHub.

Haga click [aquí](http://nbviewer.jupyter.org/github/jdvelasq/SQL-basics/tree/master/) para explorar el repositorio usando en `nbviewer`.