Uniones
===

**Juan David Velásquez Henao**  
jdvelasq@unal.edu.co   
Universidad Nacional de Colombia, Sede Medellín  
Facultad de Minas  
Medellín, Colombia

---

Haga click [aquí](https://github.com/jdvelasq/SQL-basics) para acceder al repositorio en GitHub.

Haga click [aquí](http://nbviewer.jupyter.org/github/jdvelasq/SQL-basics/tree/master/) para explorar el repositorio usando en `nbviewer`.

---

In [1]:
## cell magic
%load_ext sql

In [2]:
## conexión a la base de datos
%sql mysql+pymysql://root:password@localhost

/Users/jdvelasq/anaconda3/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (3719, "'utf8' is currently an alias for the character set UTF8MB3, but will be an alias for UTF8MB4 in a future release. Please consider using UTF8MB4 in order to be unambiguous.")
  result = self._query(query)

'Connected: root@None'

# Uniones (joins) de tablas en SQL

**Preperación de los datos de ejemplo.** Los datos de ejemplo son los mismos usados en el tutorial *04-csv.ipynb*.

**JOIN**

Los joins permiten unir la información de dos o más tablas. Los distintos tipos de joins son explicados en la siguiente gráfica:

![joins.jpg](images/joins.jpg)

In [10]:
%%sql
##
## Combina la información de las dos tablas usando como clave
## el campo ssn.
##
SELECT fullname, phone, bank, personas.ssn, bancos.ssn
FROM personas JOIN bancos
ON personas.ssn = bancos.ssn LIMIT 10;

 * mysql+pymysql://root:***@localhost
10 rows affected.

[('Pedro Welch', '(04)-1199-9661', 'Ally Financial', '216-82-1048', '216-82-1048'),
 ('Howard Samsel', '(03)-1350-7402', 'BB&T', '116-81-1883', '116-81-1883'),
 ('Wallace Lowery', '(05)-9333-5713', 'BBVA Compass', '224-25-1891', '224-25-1891'),
 ('Roxanne Kerns', '(07)-2905-7818', 'BBVA Compass', '116-51-1291', '116-51-1291'),
 ('Gerald Glynn', '(09)-5179-2725', 'BBVA Compass', '144-25-1448', '144-25-1448'),
 ('Nichelle Thaxton', '(05)-3339-3262', 'BBVA Compass', '224-99-1262', '224-99-1262'),
 ('Lauren Seifert', '(08)-2905-8942', 'BMO Harris Bank', '279-81-1912', '279-81-1912'),
 ('Marco Goodman', '(09)-5580-7527', 'BNP Paribas', '216-51-1025', '216-51-1025'),
 ('Gabriel Kingston', '(09)-5794-9470', 'Fifth Third Bank', '429-83-1156', '429-83-1156'),
 ('Millie Lasher', '(08)-5902-5867', 'Citizens Financial Group', '177-44-1054', '177-44-1054')]

---
**Ejercicio.--** Genere una tabla que contenga la cantidad de tarjetas emitidas por cada banco (campo `bank`).

**Ejercicio.--** Genere una tabla que contenga la cantidad de tarjetas de cada franquicia (campo `ccntype`).

**Ejercicio.--** Genere una tabla que contenga el cliente más joven de cada banco.

**Ejercicio.--** Genere una tabla que contenga por cada banco, la cantidad de clientes nacidos cada año.

**Ejercicio.--** Genere una tabla que contenga la suma de los montos (`quote`) por franquisia.

**Ejercicio.--** Genere una tabla que contenga el banco, la franquisia y el nombre del titular de la tarjeta de crédito. 

---

Uniones
===

**Juan David Velásquez Henao**  
jdvelasq@unal.edu.co   
Universidad Nacional de Colombia, Sede Medellín  
Facultad de Minas  
Medellín, Colombia

---

Haga click [aquí](https://github.com/jdvelasq/SQL-basics) para acceder al repositorio en GitHub.

Haga click [aquí](http://nbviewer.jupyter.org/github/jdvelasq/SQL-basics/tree/master/) para explorar el repositorio usando en `nbviewer`.